.intestazione{
    height: 170px;
    background-image: url(../img/pattern.png);
    background-color: #007fff;
}

#logo{
    width: 300px;
    height: 200px;
    margin-top: 20px;
}

a{
    color:#007fff;
    text-decoration: none;
}

#data{
    font-size: 12px;
    margin-top: 0;
}

h3{
    margin: 0;
}

h3,#data{
    color: grey;
}

main{
    margin-top: 20px;
    margin-left: 10px;
}

body{
    margin: 0;
    padding: 0;
}