.intestazione{
    height: 170px;
    background-image: url(../img/pattern.png);
    background-color: #007fff;
}

#logo{
    width: 300px;
    height: 200px;
    margin-top: 20px;
}

h1{
    margin-bottom: 5px;
}

a{
    color:#007fff;
    text-decoration: none;
}

#data,#descrizioni{
    font-size: 12px;
    margin-top: 0;
}

h3{
    margin: 0;
}

h3,#data{
    color: grey;
}

main{
    margin-top: 20px;
    margin-left: 10px;
}

body{
    margin: 0;
    padding: 0;
}

.evidenziatore{
    background-color: yellow;
}

.headtab{
    background-color: #007fff;
    color: white;
}

.bluerow{
    background-color: aqua;
}

td{
    width: 12,5%;
}

.longrow{
    width: 50%;
}

table{
    border-collapse: collapse;
    text-align: left;
}

ul{
    padding-left: 15px;
}

footer{
    margin-top: 5px;
    margin-left: 5px;
}

.immagine{
    width: 250px;
    height: 200px;
    margin: 5px
}

.uno{
    background-image: url(../img/monitor.jpg);
    background-size: cover;
}

.due{
    background-image: url(../img/graph.jpg);
    background-size: cover;
}

h4{
    margin-top: 5px;
    padding: 10px;
    font-size: 20px;
    color: white;
}

#footertitle{
    margin-left: 5px;
}